# 2019 ADM Laboratory

1. Introduction to Python, Pandas, Datasets
2. Visualization
3. Document Databases, JSON, Mongo
4. Web Scrapping, BeautifulSoup
5. Data Exchange, REST API, Social Networks, Twitter
6. Amazon Web Services
7. Amazon Web Services: MapReduce Paradigm
8. PageRank in MapReduce
9. Clustering, SKLearn
10. Python Pipeline

## Virtual Machine

    VirtualBox
    XUbuntu 18.04
    Python 3
    Jupyter/iPython notebook
    IntelliJ pyCharm
    Pandas, BeautifulSoup, Scilearnkit, networkx, pymongo, pyspark and matplotlib
    MongoDB
    Apache Spark with Hadoop

## Online Services
    mLab
    Amazon Web Services

# Part 1 - Python Basic & Compound Data Types

Python supports decimals (called integers) of any length, and reals (called floats) that support up to 15 decimal places.

In [1]:
number = 42
type(number)

int

In Jupyter we can mix python code, like the cell above. Notice the label "In [number]" and the corresponding "Out [number]". The number represents the order of execution of the specific piece of code.

Within a code block we can query for the value of a variable, like the cell below.

We can also mix comments and text, in cells called "Markedown", like this one.

In [2]:
number

42

In [ ]:
decimal = 3.14159265358979323846264338327950288419716939937510
type(decimal)
print(decimal)

Store is stored is called a 'string' variable.

In [ ]:
text = 'This is my text'
another = "We can also use double-quotes"
mix = "Mix is 'simple'"

In [ ]:
print(text)
print(another)
print(mix)

In [ ]:
mix

In [ ]:
text

The slicing operator [ ] can be used with string.

In [ ]:
text[2:4]

In [ ]:
text[:-5]

In [ ]:
text[5:]

In [ ]:
text[5]

Notice the different formating of the contents of the variable when we use the __print__ command and when using the jupyter environment to query for the value.

Python support compound data types such as tupples, lists, sets and dictionaries.

### Tuples 

A tuple is a collection which is ordered and unchangeable.

In [ ]:
thistuple = (42, "kiwi", 14.911)
type(thistuple)

In [ ]:
thistuple

We can access element **i** of the tuple using the [**i**]. The first element's index is 0, that is, i=0.

In [ ]:
thistuple[0]

In [ ]:
print(thistuple[2], thistuple[1])

In [ ]:
thistuple[3]

In [ ]:
thistuple[0] = 9.871

In [ ]:
thistuple = (11, 'carrot', 9.871)

In [ ]:
thistuple

### Lists

Python provides List to store sequences of values Lists in python are dynamic: **They grow/shrink on demand**.
Lists are mutable: **Values can change on demand** and also **Data type of individual items can change**.

In [ ]:
lst = [1,5,15,7]
print(lst)

In [ ]:
lst[2] = 22
lst

In [ ]:
lst[1] = 'Hello'
lst

In [ ]:
lst[4] = 33

In [ ]:
lst.append(33)

In [ ]:
lst

Lists operations enable repetition, concatenation, slicing, iteration, checking for membership, ...

In [ ]:
lst * 2

In [ ]:
lst + [55, "kiwi"]

In [ ]:
lst

New lists can be created from manipulating existing ones

In [ ]:
newlst = lst * 2

In [ ]:
newlst

In [ ]:
len(newlst)

In [ ]:
newlst[1:4]

In [ ]:
newlst[:4]

In [ ]:
newlst[:-2]

In [ ]:
newlst[2:]

In [ ]:
33 in newlst

In [ ]:
44 in newlst

In [ ]:
newlst.count(33)

In [ ]:
for value in lst: 
    print(value)

Some other operators make changes on the list itself

In [ ]:
values = [5, 1, 88, 3]

In [ ]:
values

In [ ]:
values.reverse()

In [ ]:
values

In [ ]:
values.sort()

In [ ]:
values

In [ ]:
values.insert(2, 101) # Insert 101 into list at index 2, that is at the 3rd position.

In [ ]:
values

In [ ]:
values.pop(2) # Deletes the ith element of the list and returns its value.

In [ ]:
values

In [ ]:
newlst.index(33) # Returns index of first occurrence of 33.

In [ ]:
newlst.index(88)

In [ ]:
newlst.remove(33) # Deletes the first occurrence of 33 in list.

In [ ]:
newlst

In [ ]:
newlst.index(33)

Lists can contain tuples.

In [ ]:
data = [("julius", 3),
("maria", 2), 
("alice", 4),
("maria", 1)]

In [ ]:
data

In [ ]:
for (n, a) in data:
    print("I met %s %s times" % (n, a) )

In [ ]:
for x in data:
    print("I met %s %s times" % (x[0], x[1]) )

In [ ]:
data.sort()

In [ ]:
data

### Sets

A set is a collection of unique values that unordered are unindexed.

In [ ]:
myset = {'alice', 'julius', 'maria', 'maria'}

In [ ]:
myset

In [ ]:
myset[1]

In [ ]:
myset.sort()

In [ ]:
myset.append('cornelia')

In [ ]:
myset.add('cornelia')

In [ ]:
myset

In [ ]:
myset.add(3)

In [ ]:
print(myset)

In [ ]:
myset

In [ ]:
'alice' in myset

In [ ]:
for values in myset:
    print(values)

In [ ]:
len(myset)

### Dictionaries

Are lookup tables that map a **key** to a **value**. The keys of a dictionary form a Set. Thus duplicate keys are not allowed.

In [ ]:
cities= {'A': 'Ancona',
'B': 'Bary',
'C': 'Como'}

In [ ]:
cities

In [ ]:
cities['A']

In [ ]:
cities.get('A')

In [ ]:
cities['X']

In [ ]:
cities.get('X','unknown')

In [ ]:
cities['D'] = 'Domodosola'

In [ ]:
cities['D']

Values can be of any type

In [ ]:
cities['E'] = 42

In [ ]:
cities

Keys can be of any data type

In [ ]:
cities[42] = 'E'

In [ ]:
cities

In [ ]:
cities.pop(42)

In [ ]:
cities

In [ ]:
del cities['E']

In [ ]:
cities

In [ ]:
len(cities)

In [ ]:
nobel = {
(1979, "physics"): ["Glashow", "Salam", "Weinberg"],
(1962, "chemistry"): ["Hodgkin"],
(1984, "biology"): ["McClintock"],
}

In [ ]:
nobel

In [ ]:
for key in nobel:
    print(key)

In [ ]:
for key in nobel:
    print(nobel[key])

In [ ]:
for (key, value) in nobel.items():
    print(key, value)

In [ ]:
nobel.values()

In [ ]:
nobel.keys()

# Part 2 - Pandas

An library with useful tools for data engineering.

In [ ]:
import numpy as np
import pandas as pd

## Series
Represent a list of values.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
s

**Jupyter** does not enforce the flow of execution. Code sniplets can be executed in any order, possibly changing the state of the variables used.

In [ ]:
myset

In [ ]:
myindex = [value for value in myset]

In [ ]:
myindex

In [ ]:
myseries = pd.Series(np.random.randn(5), index = myindex)

In [ ]:
myseries

Remark here **randn** returns a sample (or samples) from the “standard normal” distribution.

https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randn.html

In [ ]:
myseries['pitt'] = 1.5

In [ ]:
myseries

In [ ]:
myseries['julius']

In [ ]:
myseries.max()

In [ ]:
myseries.sum()

In [ ]:
nobel

In [ ]:
nobelseries = pd.Series(nobel)

In [ ]:
nobelseries

In [ ]:
nobelseries[(1984,'biology')]

## DataFrames

A 2-dimensional labeled data structure with columns of potentially different types.

In [ ]:
seriesA = pd.Series([1., 2., 3.], index=['a', 'b', 'c'])
seriesB = pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])

In [ ]:
d = {'Series A': seriesA, 'Series B': seriesB}

In [ ]:
frame = pd.DataFrame(d)

In [ ]:
frame

In [ ]:
frame['Series A']

In [ ]:
frame['Series A']['b']

In [ ]:
frame.iloc[2]

In [ ]:
frame = pd.DataFrame(d, index=['d', 'b', 'a'])

In [ ]:
frame

In [ ]:
frame = pd.DataFrame(d, index=['d', 'b', 'a'], columns=['Series B', 'Series C'])

In [ ]:
frame

In [ ]:
frame['Series B'] > 2.0

In [ ]:
frame['Series B']['b'] = 2.5

In [ ]:
frame['Series B'] > 2.0

In [ ]:
frame.insert(1, 'copy B', frame['Series B'])

In [ ]:
frame

In [ ]:
frame.loc[frame['Series B'] > 2.0]

# Part 3 - Open Data
https://dati.comune.roma.it/
Portal of Open Data of City of Rome
### Strutture ricettive gennaio 2019
Elenco delle strutture ricettive di Roma Capitale aggiornato al mese di gennaio.

https://dati.comune.roma.it/catalog/dataset/d823/resource/9964559d-0a9b-4dd6-a417-eb1ed019ab59

In [ ]:
dataset = pd.read_csv('opendata_suar_gennaio.csv', sep=',', delimiter=None, header='infer',
names=None, index_col=None, usecols=None, encoding = "ISO-8859-1", nrows=20)

In [ ]:
dataset

In [ ]:
dataset[:3] # Look at the first 3 rows

In [ ]:
dataset['Municipio'] # Select a column

In [ ]:
dataset.index

In [ ]:
dataset.columns

In [ ]:
dataset.sort_values('Tipologia')

In [ ]:
dataset['Fax'].isnull()

In [ ]:
dataset.drop(columns=['Fax'])

In [ ]:
dataset

In [ ]:
dataset['Quadruple'].isnull()

In [ ]:
dataset['Quadruple'].fillna(0)

In [ ]:
dataset['Quadruple'].dropna()

In [ ]:
dataset['Quadruple'].sum()

In [ ]:
dataset['Unitaâ Abitative'].max()

In [ ]:
dataset['Unitaâ Abitative'].idxmax()

In [ ]:
dataset.loc[19]